<div class="container bg-light big-container" style="height: 100vh;">
    <h3 class="mt-3">Prestamos Solicitados</h3>

    <p *ngIf="!weHaveLoan" class="text-center text-muted" >
        No hay solicitudes de prestamos
    </p>

    <div class="row">
        <!-- Loader -->
        <img class="mx-auto" *ngIf="isLoading" src="assets/loaders/admin-loader.gif">
    </div>

    <!-- Prestamos -->
    <div class="row mb-4" style="overflow: auto; max-height: 80vh;">
        <div class="container col-md-4 mt-3 mb-2 mx-0" *ngFor="let loan of loans">
            <div class="card border-0 shadow-sm pb-2">
                <div class="card-body text-justify pb-0">
                    <h5 class="text-center">Información del Solictante</h5>
                    <p>Nombre: <span class="text-muted">{{loan.user.name}}</span></p>
                    <p>Correo: <span class="text-muted">{{loan.user.email}}</span></p>
                    <p>Teléfono: <span class="text-muted">{{loan.user.phone}}</span></p>
                    <hr>
                    <p class="text-muted text-center" style="font-size: 12px;">Solicitud realizada el {{dateHelper.dateToStr(loan.dateStart)}}</p>
                </div>
                <div class="container text-center">
                    <button class="btn btn-light mr-3 rounded-circle shadow-sm" (click)="showOnClick(loan)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>