<app-nav-bar></app-nav-bar>
<div class="container col-12">
  <div class="row">
    <!-- Misión -->
    <div class="col-md-6 mt-3 mb-3 mx-auto">
      <div class="card shadow-sm btn p-0 btn-light border-0">
        <div class="card-body text-center pb-0">
          <h2>Misión</h2>
          <div class="card-body text-justify pb-0">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-12">
  <div class="row">
    <!-- Misión -->
    <div class="col-md-6 mt-3 mb-3 mx-auto">
      <div class="card shadow-sm btn p-0 btn-light border-0">
        <div class="card-body text-center pb-0">
          <h2>Visión</h2>
          <div class="card-body text-justify pb-0">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
