<div class="col-12">
    <div class="row">
        <!-- Categorías -->
        <div class="col-md-2 bg-white shadow-sm p-0">
            <p *ngIf="category && category.parent" class="col-12 text-center mt-3">Volver a <a href="resources?c={{category.parent.id}}">{{category.parent.name}}</a></p>
            <p *ngIf="category && !category.parent" class="col-12 text-center mt-3">Volver a <a href="resources">Categorías</a></p>
            <nav class="navbar navbar-expand-md navbar bg-white col-12 p-0">
                <!-- Menú Hamburguesa -->
                <button class="text-muted navbar-toggler d-lg-none mt-3 mb-2 col-12 mx-auto" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
                    Categorías
                    <fa-icon [icon]="faCaretDown"></fa-icon>
                </button>
                <div class="collapse navbar-collapse col-12 px-0" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
                    <div class="col-12" style="max-height: 80vh; overflow: auto;">
                        <p *ngIf="isCollapsed && categories.length > 0" class="text-center my-2">Categorías</p>
                        <p *ngIf="categories.length == 0" class="mt-4 text-muted text-center col-12">No hay categorías registradas</p>
                        <div class="px-0 pb-2" *ngFor="let cat of categories">
                            <button (click)="categoryOnClick(cat.id)" class="btn btn-light mx-auto col-12 shadow-sm pb-3">{{cat.name}}</button>
                        </div>
                    </div>
                </div>
              </nav>
        </div>

        <!-- Recursos -->
        <div class="col-md-10 px-4 pt-2 mb-2" style="height: 80vh;">
            <h3 *ngIf="category" class="">{{category.name}}</h3>

            <div class="row mb-4" style="overflow: auto; max-height: 80vh;">
                <p *ngIf="!categoryId" style="font-size: 16px;" class="text-muted mx-auto mt-3">Debes seleccionar una categoría...</p>
                <div *ngIf="categoryId && resources" class="row mx-auto">
                    <p *ngIf="resources.length == 0" style="font-size: 16px;" class="text-muted mx-auto mt-3">No existen recursos dentro de esta categoría...</p>
                </div>

                <div class="row">
                    <div class="col-md-4 my-3 px-4" *ngFor="let resource of resources">
                        <div *ngIf="resource.available">
                            <div class=" card btn-light btn p-0 border-0 shadow-sm pb-2" (click)="resourceOnClick(resource.id)">
                                <img style="width: 100%; height: 8rem;" src="{{resource.imageLink}}" alt="">
                                <div class="card-body text-justify pb-0">
                                    <div class="row px-3">
                                        <h5 class="card-title">{{resource.name}}</h5>
                                        <span style="font-size: 12px;" class="pt-1 ml-auto text-muted">Unidades: {{resource.quantity}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>