<div class="container bg-light">
    <h3 class="mt-3">Recursos</h3>
    <div class="row">
        <!-- Loader -->
        <img class="mx-auto" *ngIf="isLoading" src="assets/loaders/admin-loader.gif">
    </div>

    <!-- Recursos -->
    <div class="row mb-4" style="overflow: auto; max-height: 80vh;">
        <div class="container col-md-4 mt-3 mb-2 mx-0" *ngFor="let resource of resources">
            <div class="card border-0 shadow-sm pb-2">
                <div class="card-img">
                    <img class="card-img-top" src="{{resource.imageLink}}" alt="Imagen del recurso">
                </div>
                <div class="card-body text-justify pb-0">
                    <div class="row px-3">
                        <h5 class="card-title">{{resource.name}}</h5>
                        <span style="font-size: 12px;" class="pt-1 ml-auto text-muted">Unidades: {{resource.quantity}}</span>
                    </div>
                    <p class="text-muted">{{resource.getDescPreview()}}...</p>
                </div>
                <div class="container text-center">
                    <button class="btn btn-light mr-3 rounded-circle shadow-sm" (click)="showOnClick(resource.id)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button class="btn btn-light mr-3 rounded-circle shadow-sm" (click)="deleteOnClick(resource.id)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <button class="btn btn-success float mb-2 shadow rounded-circle" (click)="addOnClick()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>
</div>