<nav class="navbar navbar-expand-md navbar bg-white col-12 py-4 shadow-sm" style="z-index: 1;">
  <!-- Logo -->
  <a class="navbar-brand text-dark" href="#">
      <img src="assets/icons/logo.png" width="100" height="30" class="mx-auto d-inline-block align-top" alt="Logo">
  </a>
  <!-- Menú Hamburguesa -->
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mx-auto">
      <!-- Incio -->
      <li *ngIf="homeActiveRoute" class="nav-item active mx-auto px-2">
        <a class="nav-link text-dark" href="home">Inicio</a>
      </li>
      <li *ngIf="!homeActiveRoute" class="nav-item mx-auto px-2">
        <a class="nav-link text-muted" href="home">Inicio</a>
      </li>
      <!-- Nosotros -->
      <li *ngIf="aboutActiveRoute" class="nav-item active mx-auto px-2">
        <a class="nav-link text-dark" href="us">Nosotros</a>
      </li>
      <li *ngIf="!aboutActiveRoute" class="nav-item mx-auto px-2">
        <a class="nav-link text-muted" href="us">Nosotros</a>
      </li>
      <!-- Contacto -->
      <li *ngIf="contactActiveRoute" class="nav-item active mx-auto px-2">
        <a class="nav-link text-dark" href="contact">Contacto</a>
      </li>
      <li *ngIf="!contactActiveRoute" class="nav-item mx-auto px-2">
        <a class="nav-link text-muted" href="contact">Contacto</a>
      </li>
      <!-- Recursos -->
      <div *ngIf="loggedIn" class="mx-auto">
        <li *ngIf="resourceActiveRoute" class="nav-item active">
          <a class="nav-link text-dark" href="resources">Recursos</a>
        </li>
        <li *ngIf="!resourceActiveRoute" class="nav-item">
          <a class="nav-link text-muted" href="resources">Recursos</a>
        </li>
      </div>
      <!-- Prestamos -->
      <div *ngIf="loggedIn" class="mx-auto">
        <li *ngIf="loansActiveRoute" class="nav-item active">
          <a class="nav-link text-dark" href="loans">Prestamos</a>
        </li>
        <li *ngIf="!loansActiveRoute" class="nav-item">
          <a class="nav-link text-muted" href="loans">Prestamos</a>
        </li>
      </div>
    </ul>
    <!-- Cuando no hay una sesión iniciada -->
    <form class="form-inline mt-2 mt-md-0" *ngIf="!loggedIn">
      <button class="btn my-2 my-sm-0 mx-auto text-muted" (click)="loginOnClick()">Iniciar Sesión</button>
      <div class="pl-2 mx-auto">
        <button class="btn text-primary my-2 my-sm-0" (click)="signupOnClick()">Registrarse</button>
      </div>
    </form>
    <!-- Cuando hay una sesión iniciada -->
    <form class="form-inline mt-2 mt-md-0 pr-2 ml-5" *ngIf="loggedIn">
      <div ngbDropdown class="mx-auto">
        <button class="btn shadow-sm mr-4" style="border-radius: 30px;" id="dropdownBasic1" ngbDropdownToggle>
          <fa-icon [icon]="faCog"></fa-icon>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngIf="user.admin" ngbDropdownItem (click)="dashboardOnClick()">
            <fa-icon [icon]="faClipboard"></fa-icon>
          </button>
          <button ngbDropdownItem (click)="logoutOnClick()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>
