<!-- Barra de Navagación -->
<app-nav-bar></app-nav-bar>
<div class="container col-12">
    <!-- Título -->
    <div class="text-center mt-5">
        <h2>Noticias</h2>
    </div>
    <div class="row">
        <!-- Cartas de las noticias -->
        <div class="col-md-6 mt-3 mx-auto" *ngFor="let news of _news">
            <div class="card border-0 shadow-sm btn p-0 btn btn-light" (click)="ShowNews(news.id)">
                <!-- Imágen de las noticias -->
                <div class="card-img">
                    <img class="card-img-top" src="{{news.imageLink}}" alt="Imagen de la noticia">
                </div>
                <div class="card-body text-justify pb-0">
                    <h3>{{news.title}}</h3>
                    <p class="text-muted">{{news.description}}...</p>
                </div>
        </div>
    </div>
</div>